.App {
  


}
.sign-up-div{
 display: flex;
 justify-content: center;
 align-items: center;
 border: solid;

}

.sign-up-button{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
