.App {
  


}
.home-page-container{
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;

}

.event-card{
  border: solid;
  border-color: black;
  padding:5px;
  margin: 2em;
  
}

.first-card{
  grid-column: 1 / 3;
}

.sign-up-div{
 display: flex;
 justify-content: center;
 align-items: center;
 border: solid;

}

.sign-up-button{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.sign-up-error-false{
  display: none;
}

.sign-up-error{
  background: green;
}